{% extends "base.html" %}

{% block content %}

<section>

    <div class="aboutUs">

        <div class="aboutUsContainer">
            <h1>About Us</h1>
        </div>

        <div class="aboutUsContainer">
            <p>Fill in later</p>
        </div>

        <div class="aboutUsContainer">
            <p></p>
        </div>

        <div class="aboutUsContainer">
            <p></p>
        </div>

        <div class="aboutUsContainer">
            <p></p>
        </div>

        <div class="aboutUsContainer">
            <p></p>
        </div>

        <div class="aboutUsContainer">
            <p></p>
        </div>

    </div>

</section>

{% endblock %}