{% extends "base.html" %}

{% block content %}

<section>

    <div class="aboutUs">

        <div class="aboutUsContainer">
            <h2>About Us</h2>
        </div>

        <div class="aboutUsContainer">
            <p>Bot or Not is a text classifier aimimg to distinguish between text written by a human and text generated
                by AI.</p>
        </div>

        <div class="aboutUsContainer">
            <p>This is especially important today with the fast genesis of large language models capable of outputting
                text that is to the naked eye indistinguishable from human-written text.</p>
        </div>

        <div class="aboutUsContainer">
            <p>This classifier can be used by anyone interested in determining the authorship of a piece of text, no
                matter the domain or industry.</p>
        </div>

        <div class="aboutUsContainer">
            <p><b>NOTE:</b> As is the nature of machine learning, it is possible for this classifier to output incorrect
                results.. Therefore it is important that a classification result not be used as proof in plagiarism
                disputes or as a means to punish anyone in any professional or academic context.</p>
        </div>

        <div class="aboutUsContainer">
            <p>Further expert analysis
                of text is needed to definitely prove the text authorship.</p>
        </div>

        <div class="aboutUsContainer">
            <h2>Features</h2>
        </div>

        <div class="aboutUsContainer">
            <p>Anyone can use this classifier as an anonymous user. However, an account is needed if you want to
                download your results from the application and/or keep a record of previous classifications.</p>
        </div>

        <div class="aboutUsContainer">
            <p>This classifier is a free and open source university dissertation project. Anyone interested in seeing
                the code and suggesting
                any improvements for future iterations can follow the GitHub link at the bottom of any page.</p>
        </div>

        <div class="aboutUsContainer">
            <p>User feedback is an important aspect of our developement life cycle so please feel free to use the
                Contact Us form to leave a message for our team.</p>
        </div>

    </div>

</section>

{% endblock %}