<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bot or Not Text Classifier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid">

            <div><a href="/"><img src="{{ url_for('static', filename='bot-colour-10.png') }}" alt="Logo"
                        class="webIcon"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Analyse</a></li>
                    {% if loginStatus %}
                    <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="/aboutUs">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    {% if not loginStatus %}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if session.get('session_timed_out') %}
    <script>
        alert('Your session has timed out. Please log in again.');
    </script>
    {% endif %}

    {% block content %}
    {% endblock %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light footer">
        <div class="container">
            <div class="socialContain" id="bs-example-navbar-collapse-1">
                <ul class="socials">
                    <div>
                        <a href="https://github.com/CiaranC1995" target="_blank">
                            <img src="{{ url_for('static', filename='social2.png') }}" alt="Logo" class="webIconSocials">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/ciar%C3%A1n-casey-70433019b/" target="_blank">
                            <img src="{{ url_for('static', filename='social1.png') }}" alt="Logo" class="webIconSocials">
                        </a>
                    </div>
                    <div>
                        <a href="mailto:ccasey10@qub.ac.uk">
                            <img src="{{ url_for('static', filename='social3.png') }}" alt="Logo" class="webIconSocials">
                        </a>
                    </div>
                
                </ul>
            </div>
        </div>
    </nav>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>