<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AI Authorship Classifier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="container-fluid">

            <div><a href="/"><img src="{{ url_for('static', filename='botOrNot.png') }}" alt="Logo" class="webIcon"></a>
            </div>
            <!-- <div class="websiteName"><a class="navbar-brand" href="/">Bot or Not Text Classifier</a></div> -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Analyse</a></li>
                    {% if loginStatus %}
                    <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="/aboutUs">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    {% if not loginStatus %}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if loginStatus %}

    <div class="loginMessage">

        <div>
            <div class="notification is-success is-small">
                {{ loginMessage }}
            </div>
        </div>

    </div>

    {% endif %}

    {% if session.get('session_timed_out') %}
    <script>
        alert('Your session has timed out. Please log in again.');
    </script>
    {% endif %}

    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

</body>

</html>