{% extends "base.html" %}

{% block content %}

<section class="container contactMessage">
    {% if isContactMessageCreated %}
    <div class="alert alert-success">
        <h3>Thanks for your feedback! A member of our team will respond to your message as soon as possible!</h3>
    </div>
    <br>
    <div><a class="btn btn-dark" href="javascript:history.back()">Go back</a></div>
    {% else %}
    <div class="alert alert-danger">
        <h3>Oh no, we didn't seem to get your message. Please try again!</h3>
    </div>
    <div><a class="btn btn-dark" href="javascript:history.back()">Go back</a></div>
    {% endif %}
</section>

{% endblock %}