{% extends "base.html" %}

{% block content %}

<section class="userHistory">

    <div class="userHistoryName">
        <button class="btn btn-dark disabled">{{ user_name[1] }}'s History</button>
    </div>

    {% if empty_message %}

    <div class="emptyMessage">

        <div class="emptyMessageContainer">
            <h3>{{ empty_message }}</h3>
        </div>

        <div class="emptyMessageContainer">
            <p>Please analyse some text and come back to see detailed results.</p>
        </div>

        <div class="emptyMessageContainer">
            <a href="/"><button class="btn btn-dark">Analyse</button></a>
        </div>

    </div>

    {% else %}

    <div class="historyContainer">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Input Text</th>
                    <th>Avg. Perplexity</th>
                    <th>Burstiness</th>
                    <th>Human Prob.</th>
                    <th>AI Prob.</th>
                    <th>Result</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for record in history_info %}
                <tr>
                    <td>{{ record[1] }}</td>
                    <td class="truncated-text">{{ record[2] }}</td>
                    <td>{{ "%.3f" % record[4] }}</td>
                    <td>{{ "%.3f" % record[5] }}</td>
                    <td>{{ "%.2f" % (record[7] * 100) }}%</td>
                    <td>{{ "%.2f" % (record[8] * 100) }}%</td>
                    {% if record[6] == 0 and record[7] > 0.5534 %}
                    <td>Human-Written</td>
                    {% elif record[6] == 0 and record[7] < 0.5534 %} <td>Not Classifiable</td>
                        {% elif record[6] == 1 and record[7] > 0.5534 %}
                        <td>AI-Generated</td>
                        {% elif record[6] == 1 and record[7] < 0.5534 %} <td>Not Classifiable</td>
                            {% else %}
                            <td>Not Classified</td>
                            {% endif %}
                            <td><a href="/specificHistory?classifier_output_id={{ record[0] }}"><button type="button"
                                        class="btn btn-dark">Details</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <hr>

    <div class="container">
        <form action="/deleteHistory" method="POST">
            <button type="submit" class="btn-danger">Clear History</button>
        </form>
    </div>

    {% endif %}

</section>

{% endblock %}