{% extends "base.html" %}

{% block content %}

<div class="topSection">

    <div class="userInputInterface">

        <div class="userInputTextBox">

            <textarea name="userInputText" cols="30" rows="18"
                placeholder="Paste or type the text to be classified here ..."></textarea>

            <!-- This needs fixed, still not correct -->
            <div class="counts">
                <div class="wordCount"><span>Word Count :</span></div>
                <div class="charCount"><span>Character Count :</span></div>
            </div>

        </div>

    </div>
</div>

{% endblock %}