{% extends "base.html" %}

{% block content %}

<div class="topSection">

    <div class="limitationsSection">
        <p>Please be aware of the following when using this system:</p>
        <ul>
            <li>The classifier may occasionally output incorrect classificaitions.</li>
            <li>A classification result from this system alone should never be used as proof in a plagiarism dispute in
                any academic / professional
                capacity.</li>
            <li>Further expert analysis of text is needed to definitively prove whether it is human written or AI
                generated.</li>
        </ul>
    </div>

    <form class="userInputInterface" action="/classification" method="POST">

        <div class="userInputTextBox">

            <textarea id="userInputText" name="userInputText" cols="30" rows="18"
                placeholder="Paste or type the text to be classified here ..."></textarea>

            <div class="counts">

                <div class="wordCount"><span>Word Count :</span></div>
                <div class="charCount"><span>Character Count :</span></div>

            </div>

            <button type="submit" class="beginAnalysisButton">Begin Analysis</button>

        </div>

    </form>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}