{% extends "base.html" %}

{% block content %}

<section class="container">

    {% if not loginStatus %}

    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        Credentials Not Recognized... Please Try Again...
    </div>

    <div><a class="btn btn-primary btn-outline" href="javascript:history.back()">Go back</a></div>

    {% else %}

    <div class="alert alert-success">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        Congratulations! You have successfully logged in.
    </div>

    {% endif %}

</section>

{% endblock %}