{% extends "base.html" %}

{% block content %}

<section class="container-message">

    {% if not loginStatus %}

    <div class="alert alert-success">
        <h2>Credentials Not Recognized... Please Try Again...</h2>
    </div>

    <div><a class="btn btn-dark" href="javascript:history.back()">Go back</a></div>

    {% else %}

    <div class="alert alert-success">
        <h2>Login Successful!</h2>
    </div>

    <div class="buttons">
        <a class="btn btn-dark" href="/">Analyse</a>
        <a class="btn btn-dark" href="/history">History</a>
        <a class="btn btn-dark" href="/aboutUs">About</a>
        <a class="btn btn-dark" href="/contact">Contact</a>
        <a class="btn btn-dark" href="/logout">Logout</a>
    </div>


    {% endif %}


</section>

{% endblock %}