{% extends "base.html" %}

{% block content %}

<section class="container">

    {% if doesUserAlreadyExist %}

    <div class="alert alert-danger">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        Sorry, that email address or username already exists in our system. Please try again.
    </div>

    <div><a class="btn btn-primary btn-outline" href="javascript:history.back()">Go back</a></div>

    {% else %}

    <div class="alert alert-success">
        <button class="close" data-dismiss="alert" aria-label="Close"></button>
        Congratulations! You have successfully registered an account.
    </div>

    <div class="buttons">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/" class="btn btn-primary">Home</a>
    </div>

    {% endif %}

</section>

{% endblock %}