{% extends "base.html" %}

{% block content %}

<section class="specificResult">

    <div class="container">
        <h3>Input Text</h3>
    </div>

    <div class="container">
        <p>{{ specificHistoryInfo['classifier_output'][0][2] }}</p>
    </div>

    <div class="container">
        <h3>Analysis Statistics</h3>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date of Classification</th>
                    <th>Average Text Perplexity</th>
                    <th>Text Burstiness</th>
                    <th>Probability of Human Authorship</th>
                    <th>Probability of AI Authorship</th>
                    <th>Classification Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ specificHistoryInfo['classifier_output'][0][1] }}</td>
                    <td>{{ "%.3f" % specificHistoryInfo['classifier_output'][0][4] }}</td>
                    <td>{{ "%.3f" % specificHistoryInfo['classifier_output'][0][5] }}</td>
                    <td>{{ "%.2f" % (specificHistoryInfo['classifier_output'][0][7] * 100) }}%</td>
                    <td>{{ "%.2f" % (specificHistoryInfo['classifier_output'][0][8] * 100) }}%</td>
                    {% if specificHistoryInfo['classifier_output'][0][6] == 0 and
                    specificHistoryInfo['classifier_output'][0][7] > 0.5534 %}
                    <td>Human-Written</td>
                    {% elif specificHistoryInfo['classifier_output'][0][6] == 0 and
                    specificHistoryInfo['classifier_output'][0][7] < 0.5534 %} <td>Not Classifiable
                        </td>
                        {% elif specificHistoryInfo['classifier_output'][0][6] == 1 and
                        specificHistoryInfo['classifier_output'][0][8] > 0.5534 %}
                        <td>AI-Generated</td>
                        {% elif specificHistoryInfo['classifier_output'][0][6] == 1 and
                        specificHistoryInfo['classifier_output'][0][8] < 0.5534 %} <td>Not Classifiable</td>
                            {% else %}
                            <td>Not Classified</td>
                            {% endif %}
                </tr>
            </tbody>
        </table>

    </div>

    {% set ppls = specificHistoryInfo['sentence_perplexity'] %}
    {% set max_value = ppls|max %}
    {% set max_index = ppls.index(max_value) %}

    <div class="container">

        <h3>Individual Sentence Perplexities</h3>

    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Sentence</th>
                    <th>Perplexity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in specificHistoryInfo['sentence_perplexity'] %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ "%.3f" % item[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="container">

        <h3>Sentence With Highest Perplexity</h3>

    </div>

    <div class="container">

        <p>The sentence with the highest perplexity ... <i>"{{ specificHistoryInfo['largest_ppl'][0][2] }}"</i>
            ... has a perplexity score of : <b>{{ "%.3f" % specificHistoryInfo['largest_ppl'][0][3] }}</b></p>

    </div>

    <hr>

    <div class="container-delete">

        <form action="/downloadPDF" method="post">
            <input type="hidden" name="classifier_output_id"
                value="{{ specificHistoryInfo['classifier_output'][0][0] }}">
            <button type="submit" class="btn btn-dark">Download PDF</button>
        </form>

        <br>

        <form action="/deleteSingleResult" method="post">
            <input type="hidden" name="classifier_output_id"
                value="{{ specificHistoryInfo['classifier_output'][0][0] }}">
            <button type="submit" class="btn-danger">Delete Result</button>
        </form>

    </div>

</section>


{% endblock %}