.navbar-header {
    display: flex;
    align-items: center;
}

.logoDiv {
    margin-right: 10px;
}

.logo {
    width: 55px;
    height: auto;
}

.websiteName {
    flex: 1;
}

.topSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.limitationsSection {
    margin-bottom: 20px;
    text-align: left;
}

.limitationsSection p {
    font-weight: bold;
}

.userInputInterface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInputTextBox {
    margin-bottom: 20px;
    text-align: center;
}

textarea[name="userInputText"] {
    width: 700px;
    height: 350px;
    resize: none;
    padding: 5px;
}

.counts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wordCount,
.charCount {
    font-weight: bold;
}

.beginAnalysisButton {
    padding: 10px 20px;
    font-weight: bold;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contact-form {
    text-align: center;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    font-weight: bold;
  }
  
  .input,
  .textarea {
    width: 300px;
    padding: 5px;
  }
  
  .button {
    padding: 10px 20px;
    font-weight: bold;
  }
  