.navbar-header {
  display: flex;
  align-items: center;
}

.logoDiv {
  margin-right: 10px;
}

.logo {
  width: 55px;
  height: auto;
}

.websiteName {
  flex: 1;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.limitationsSection {
  margin-bottom: 20px;
  text-align: left;
}

.limitationsSection p {
  font-weight: bold;
}

.userInputInterface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInputTextBox {
  margin-bottom: 20px;
  text-align: center;
}

textarea[name="userInputText"] {
  width: 700px;
  height: 350px;
  resize: none;
  padding: 5px;
}

.counts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wordCount,
.charCount {
  font-weight: bold;
}

.beginAnalysisButton {
  padding: 10px 20px;
  font-weight: bold;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
}

.input,
.textarea {
  width: 300px;
  padding: 5px;
}

.button {
  padding: 10px 20px;
  font-weight: bold;
}

#loadingContainer {
  position: relative;
  text-align: center;
}

#loadingContainer img {
  display: block;
  margin: 0 auto;
}

#loadingContainer p {
  display: block;
  text-align: center;
  margin-top: 1px;
}

.form-label {
  font-weight: bold;
}

.loginMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  text-align: center;
}

.loginMessage .notification {
  display: inline-block;
  color: white;
  font-size: 24px;
}

.limitationsSection {
  display: flex;
  align-items: center;
}

.warningImage {
  margin-right: 10px;
  padding-bottom: 40px;
}

.resultHuman {
  color: green;
}

.resultAI {
  color: red;
}

.mixedResult,
.humanResult,
.aiResult {
  font-size: 260%;
}

.highlight {
  background-color: yellow;
}

.truncated-text {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 20px;
}

.historyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-inner {
  width: 80%; 
}

.alert {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.btn-outline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.inputForm{
  width: 70%;
  height: 50vh;
}