.navbar-header {
  display: flex;
  align-items: center;
}

.logoDiv {
  margin-right: 10px;
}

.logo {
  width: 55px;
  height: auto;
}

.webIcon {
  width: 300px;
}

.websiteName {
  flex: 1;
  padding-left: 20px;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E2C1C;
  padding-bottom: 100px;
}

.limitationsSection {
  margin-bottom: 20px;
  text-align: left;
}

.limitationsSection p {
  font-weight: bold;
}

.userInputInterface {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInputTextBox {
  margin-bottom: 20px;
  text-align: center;
}

textarea[name="userInputText"] {
  width: 700px;
  height: 350px;
  resize: none;
  padding: 5px;
}

.counts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wordCount,
.charCount {
  font-weight: bold;
}

.beginAnalysisButton {
  padding: 10px 20px;
  font-weight: bold;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
}

.input,
.textarea {
  width: 300px;
  padding: 5px;
}

.button {
  padding: 10px 20px;
  font-weight: bold;
}

#loadingContainer {
  position: relative;
  text-align: center;
}

#loadingContainer img {
  display: block;
  margin: 0 auto;
}

#loadingContainer p {
  display: block;
  text-align: center;
  margin-top: 1px;
  color: #3E2C1C;
}

.form-label {
  font-weight: bold;
}

.loginMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  text-align: center;
}

.loginMessage .notification {
  display: inline-block;
  color: white;
  font-size: 24px;
}

.warningImage {
  margin-right: 10px;
  padding-top: 20px;
  padding-left: 265px;
}

.listLimits {
  width: 600px;
}

.highlight {
  background-color: yellow;
}

.truncated-text {
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  color: #3E2C1C;
}

.formContainer {
  color: #3E2C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 75px;
}

.formContainerContact {
  color: #3E2C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 100px;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  padding-bottom: 30px;
}

.historyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #3E2C1C;
}

.emptyMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3E2C1C;
  font-weight: bold;
}

.emptyMessageContainer {
  margin: 10px;
  color: #3E2C1C;
}

.container-message {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #3E2C1C;
}

.alert {
  padding-top: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.alert-success {
  height: auto;
  width: auto;
  text-align: center;
  color: #FAD6A5;
  background-color: #3E2C1C;
  border: 1px solid #3E2C1C;
}

.btn-outline {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.inputForm {
  width: 20%;
  height: 50vh;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 550px;
  padding-right: 550px;
}

.aboutUsContainer {
  margin: 10px;
  color: #3E2C1C;
  text-align: center;
}

.table td,
th {
  text-align: center;
  color: #3E2C1C;
}

#loadingContainer {
  color: #3E2C1C;
  font-weight: bold;
}

body {
  background-color: #FAD6A5;
}

.navbar-light {
  background-color: #3E2C1C !important;
}

.navbar-nav .nav-link {
  color: #FAD6A5 !important;
  font-weight: bold;
}

#limitations {
  color: #3E2C1C !important;
}

.lead {
  text-align: center;
}

.btn-dark {
  background-color: #3E2C1C !important;
  color: #FAD6A5 !important;
  font-weight: bold;
}

.specificResult {
  color: #3E2C1C;
}

.container-delete {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #3E2C1C;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #3E2C1C !important;
  padding-top: 0;
}

.socials {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 10px !important;
}

.webIconSocials {
  max-width: 60px;
  height: 40px;
  margin-right: 20px;
}

.resultsContainerBottom {
  padding-bottom: 100px;
}

.contactMessage{
  margin-top: 100px;
}

.userHistoryName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.userHistory {
  padding-top: 50px;
  min-height: 170vh;
}

.userHistoryName button.disabled {
  cursor: not-allowed;
  opacity: 1;
  pointer-events: none;
}